<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= render "layouts/header" %>
	</header>
		
	<%= flash_messages %>

	<div class="container-fluid">
		<%= yield %>
	</div>



		


</body>
</html>
